<!DOCTYPE html>
<html lang="fr">
  <head>

    <meta charset="utf-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="fr">
    
    <meta name="language" content="fr">
    <meta name="copyright" content="http://guerin-pierre.fr">
    <meta name="author" content="Pierre GUERIN, guerin.pierre26@gmail.com">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimal-ui">
    
    <title>Pierre GUERIN</title>

    <link rel='stylesheet' href='css/perfect-scrollbar.css' />
    <link rel='stylesheet' href='css/font-awesome.min.css' />
    <link rel="stylesheet" href="css/style.css"/>

  </head>
  
  <body>
    <div class="background-header"></div>
    <div class="background-filtre"></div>
    <div id="container" class="page-content">
      <section class="devis">
        <h1 class="titre page-titre">Nouveau Projet</h1>
        <form action="/nouveau-projet" method="post" id="contact-form" class="contact-form">
            <h3 class="titre form-titre">Informations personnelles:</h3>
            <div class="form-group group-small-left">
                <input type="text" name="nom" />
                <label for="nom">Nom</label>
            </div>
            <div class="form-group group-small-right">
                <input type="text" name="prenom" />
                <label for="prenom">Prénom</label>
            </div>
            <div class="form-group">
                <input type="email" name="email" />
                <label for="email">E-mail</label>
            </div>
            
            <h3 class="titre form-titre">Informations projets:</h3>
            <div class="form-group">
              <div class="form-element">
                <input type="radio" name="project_type" value="site_web"/>
                <label for="project_type">Site Web</label>
              </div>
              <div class="form-element">
                <input type="radio" name="project_type" value="app_mobile"/>
                <label for="project_type">App Mobile</label>
              </div>
              <div class="form-element">
                <input type="radio" name="project_type" value="logiciel"/>
                <label for="project_type">Logiciel</label>
              </div>
            </div>
            <div class="form-group">
                <textarea name="project_description"></textarea>
                <label for="project_description">Description</label>
            </div>
            <div class="form-group group-small-left">
                <input type="date" name="deadline" />
                <label for="deadline">Date limite</label>
            </div>
            <div class="form-group group-small-right">
                <input type="text" name="budget" />
                <label for="budget">Budget</label>
            </div>

            <div class="form-line">
              <div class="form-left"> 
                <a href="/" class="btn btn-form-contact">
                   Retour
                </a>
              </div>
              <div class="form-right">
                <a class="btn btn-form-contact" onclick="document.getElementById('contact-form').submit();">
                    Envoyer
                </a>
              </div>
            </div>
        </form>
      </section>
    </div>
  <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="js/formcontactvalue.js"></script>
  <script type="text/javascript" src="js/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" src="js/perfectscrollbar.js"></script>
  </body>
</html>
